@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Varela+Round&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rowdies', cursive;
   font-family: 'Varela Round', sans-serif;
   
 }

 html{
   font-size: 50%;
   
   
 }

 body {
  
 }

 .box {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 42em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 3rem;
    border-radius: 12px;
    min-height: 50em;
  
 }

 .list{
  display: flex;
  padding-top: 2rem;
  margin-bottom: 3rem;
 }

 li {
   display: flex;
  list-style: none;
  margin: 2rem;
  font-size: large;
  font-family: 'Varela Round';
 }

 input {
  padding-left: 1rem;
  margin-right: 10px;
  border-radius: 7px;
  outline: none;
 }
 .maindiv{
  display: grid;
  justify-content: center;
  align-items: center;
 }
 .header{
  margin: 3em 0 3em 0;
  font-size: 2em;
  letter-spacing: 3px;
 }



 @media only screen and (max-width: 1366px)and (min-width: 999px){
  html{
    font-size:62% ;
  }
}

 @media only screen and (max-width: 998x)and (min-width: 767px){
  html{
    font-size:55% ;
  }
}
 @media only screen and (max-width: 768px)and (min-width: 376px){
    html{
      font-size: 45%;
    }
 }
 @media only screen and (max-width: 375px)and  {
  html{
    font-size: 35%;
  }
}
